*, body {
  margin: 0;
}

h2 {
  font-family: 'Patua One', cursive;
  margin-bottom: 10px;
}

#header {
  text-align: center;
  text-transform: capitalize;
  background-color: #306D75;
  padding: 30px;
  margin-bottom: 30px;
  font-family: 'Patua One', cursive;
  border-bottom: 5px solid #F1E694;
}

#profile {
  margin: 0 auto;
  display: flex;
  width: 80%;

}

#basics {
  /*flex-basis: 30%;*/
  /*margin-right: 50px;*/
  padding-right: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  /*padding: 0;*/
  list-style: none;
  text-align: left;
  /*margin: 0 10px 0 0;*/
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;

}

li span {
  text-transform: capitalize;
}

.bold {
  color: #306D75;
  font-weight: 900;
}

#story img {
  border-radius: 50%;
  float: right;
}

#story p {
  /*display: flex;*/
  border-left: 1px solid gray;
  padding-left: 20px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
